body{
    background-image: url("https://backgrounds.wetransfer.net/alvpen3gl_1280x800.jpg");
    text-align: center;
    color: #233d92;
    margin-top: 14%;
    font-family: "impact";
    text-shadow: 2px 2px #ff0000;
    font-size: 27px;
    font-weight:bold;
}

.myButton {
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.myButton:active {
    position:relative;
    top:1px;
}