body{
    background-image: url("http://kurld.com/images/wallpapers/hd-space-wallpaper/hd-space-wallpaper-21.jpg");
    background-size: 100%;
    background-color: black;
    color: white;
    display: inline;
    font-family: "Bauhaus 93";
    font-size: x-large;
}
#delete {
    position: absolute;
    top: 55%;
    left: 40%;
}
#logout {
    position: absolute;
    top: 3%;
    left: 80%;
}
#upload {
    position: absolute;
    top: 12%;
    left: 10%;
}
#choose {
    position: absolute;
    top: 6%;
    left: 10%;
}
#download {
    position: absolute;
    top: 55%;
    left: 50%;
}
#share {
    position: absolute;
    top: 45%;
    left: 35%;
}
#make {
    position: absolute;
    top: 10%;
    left: 65%;
}
.btn {
    font-family: "Bauhaus 93";
    font-size: x-large;
    color: white;
    background: blue;
    font-weight: bold;
    border: 3px double white;
    border-top-color: white;
    border-left-color: white;
}
.btn:hover {
    border-color: #F00 #C30 #C30 #F00;
    cursor: pointer;
}
#files {
    position: absolute;
    top:10%;
    left: 46%;
}